/*********************************/
/**********COLOR PALETTE**********/
/*********************************/
/*                               */
/*    #89D2DC non-photo blue     */
/*    #6564DB slate blue         */
/*    #232ED1 palatine blue      */
/*    #101D42 oxford blue        */
/*    #0D1317 rich black         */
/*                               */
/*********************************/

/*General*/
.root {
    -fx-background-color: #0D1317;
}

/*Left bar buttons*/

.left_button {
    -fx-background-color: #0D1317;
    -fx-text-fill: white;
    -fx-text-size: 30px;
}

.left_button:hover{
    -fx-background-color: #101D42;
    -fx-text-fill: white;
    -fx-font-size: 22px;
}

.left_button:pressed {
    -fx-background-color: #101D42;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

/*Search*/

#searchBtn{
    -fx-background-color: #6564DB;
    -fx-text-fill: white;
}

#searchBtn:pressed{
    -fx-background-color: #232ED1;
    -fx-text-fill: #FFFFFF;

}

#anchor{
    -fx-background-color: #101D42;
}

/*
.button{
    -fx-background-color: #0D1317;
    -fx-text-fill: white;
    -fx-text-size: 30px;
}

#headercell {
    -fx-background-color: #0D1317;
    -fx-text-fill: white;
}

Button:hover {
    -fx-background-color: #232ED1;
    -fx-font-size: 22px;
}

Button:pressed {
    -fx-background-color: #101D42;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}



.menu{
    -fx-background-color: #101D42;
}
*/

/*
#searchBtn {
    -fx-background-color: var(--primary-color);
    -fx-text-fill: white;
}

#searchQuery {
    -fx-background-color: white;
}

#home, #bookmarkedToots, #changeAcctBtn, #postToot, #settings, #likedToots {
    -fx-background-color: var(--secondary-color);
    -fx-text-fill: white;
}

#logo, #loading, #icon {
    -fx-background-color: var(--tertiary-color);
}

#vbox {
    -fx-background-color: var(--background-color);
}

#scrollpane {
    -fx-background-color: var(--background-color);
}

.bottom {
    -fx-background-color: var(--primary-color);
    -fx-text-fill: white;
}
*/

/*.label {
    -fx-font-size: 18px;
}*/

