/*********************************/
/**********COLOR PALETTE**********/
/*********************************/
/*                               */
/*    #89D2DC non-photo blue     */
/*    #6564DB slate blue         */
/*    #232ED1 palatine blue      */
/*    #262731 oxford blue        */
/*    #0D1317 rich black         */
/*                               */
/*********************************/

/*General*/
.root {
    -fx-background-color: #0D1317;
}

.fill{
    -fx-text-fill: white;
}

.button_gen{
    -fx-background-color: #6564DB;
    -fx-text-fill: white;
}

.button_gen:pressed{
    -fx-background-color: #232ED1;
    -fx-text-fill: white;
}
.button_gen:hover{
    -fx-cursor: hand;
}

#content{
    -fx-background-color: #262731;
    -fx-text-fill: white;
}
#icon{
    -fx-cursor: hand;
}
.image_click{
    -fx-cursor: hand;
}

/*Left bar buttons*/

.left_button {
    -fx-background-color: #0D1317;
    -fx-text-fill: white;
    -fx-text-size: 30px;
}

.left_button:hover{
    -fx-background-color: #101D42;
    -fx-text-fill: white;
    -fx-cursor: hand;
   /* -fx-font-size: 22px;*/
}

.left_button:pressed {
    -fx-background-color: #101D42;
    -fx-text-fill: #FFFFFF;
   /* -fx-font-weight: bold;*/
}

/*Search*/

#searchQuery {
    -fx-background-color: #262731;
    -fx-text-fill: white;
}


#searchBtn{
    -fx-background-color: #6564DB;
    -fx-text-fill: white;
}

#searchBtn:pressed{
    -fx-background-color: #232ED1;
    -fx-text-fill: #FFFFFF;

}

#searchBtn:hover{
    -fx-cursor: hand;
}

/*anchor*/

#anchor{
    -fx-background-color: #262731;

}

.anchor{
    -fx-background-color: #262731;
}

/*Post toot*/

#sensitiveId{
    -fx-background-color: #262731;
    -fx-text-fill: white;
}
/*botton*/

#copyright{
    -fx-text-fill: white;
}

/*scrollbane*/

#scrollpane{
    -fx-background-color: #0D1317;
}

.scroll-bar:vertical{
    -fx-background-color: #0D1317;

}
.scroll-bar:vertical .thumb{
    -fx-background-color: #262731;
}

.scroll-bar:horizontal{
    -fx-background-color: #0D1317;
}

#vbox{
    -fx-background-color: #0D1317;
}

/*cells*/

#info{
    -fx-text-fill: white;
}

/*logos*/

.logo{
    -fx-image: url(../logos/dark_transparent_1000.png);
}
/*Auth*/

.list-view{
    -fx-background-color: #262731;
}
.list-cell{
    -fx-background-color: #262731;
}
#errorLabel{
    -fx-text-fill: #6564DB;
}

.button_auth{
    -fx-background-color: #6564DB;
    -fx-text-fill: white;
}

.button_auth:pressed{
    -fx-background-color: #232ED1;
    -fx-text-fill: white;
}


/*settings*/

.combo-box{
    -fx-background-color: #0D1317;
    -fx-text-fill: white;
}

.combo-box-popup{
    -fx-background-color: #0D1317;
    -fx-text-fill: white;
}

.combo-box-popup {
    -fx-background-color: #0D1317;
    -fx-progress-color: #0D1317;
    -fx-progress-color: #0D1317;
    -fx-prompt-text-fill: white;
    -fx-tick-label-fill: white;
    -fx-text-fill: white;
}

.check-box{
    -fx-tick-label-fill: #0D1317;
    -fx-text-fill: white;
}



/*
.button{
    -fx-background-color: #0D1317;
    -fx-text-fill: white;
    -fx-text-size: 30px;
}

#headercell {
    -fx-background-color: #0D1317;
    -fx-text-fill: white;
}

Button:hover {
    -fx-background-color: #232ED1;
    -fx-font-size: 22px;
}

Button:pressed {
    -fx-background-color: #101D42;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}



.menu{
    -fx-background-color: #101D42;
}
*/

/*
#searchBtn {
    -fx-background-color: var(--primary-color);
    -fx-text-fill: white;
}

#searchQuery {
    -fx-background-color: white;
}

#home, #bookmarkedToots, #changeAcctBtn, #postToot, #settings, #likedToots {
    -fx-background-color: var(--secondary-color);
    -fx-text-fill: white;
}

#logo, #loading, #icon {
    -fx-background-color: var(--tertiary-color);
}

#vbox {
    -fx-background-color: var(--background-color);
}

#scrollpane {
    -fx-background-color: var(--background-color);
}

.bottom {
    -fx-background-color: var(--primary-color);
    -fx-text-fill: white;
}
*/

/*.label {
    -fx-font-size: 18px;
}*/

