.list-cell {
    /**-fx-background-color: #ffffff;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #000000;
    **/
}

.list-cell:selected {
    -fx-background-color: lightblue;
}

.list-view:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}